/* *아스트리스크를쓰면 모든태그해당 */
*{
    box-sizing: border-box;
}
/* margin 0을 주는이유 내가쓰는그림꽉채우겟다 */
body{
    margin: 0;
}
/* padding란 안쪽영역 넓히기위한태그 */
header {
    padding: 10px;
    background-color: lightblue;
}

nav{
    background-color: bisque;
    overflow: hidden;
}
/* display blocl 는 덩어리로 형태로 나타남 */
nav a {
    float: left;
    display: block;
    padding: 20px;
    text-align: none;
    }

    section{
        padding: 20px;
        background-color: gold;
    }   
/* 마진은 위아래오른쪽왼쪽 영역으로 */
    footer{
        padding:10px;
        /* margin: 200px; */
        background-color: aquamarine;
    }
